<script>
  function getChannel() {
    var input = document.getElementById("input").value;
    window.location.href='/game/' + input
  }
</script>


<div class="row">
  <div class="column">
    <h1>Join A Game</h1>
    <input id="input" type="text"/>
    <button onclick="getChannel()"> Join a channel</button>
  </div>
</div>
